<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>vista.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Invetario</servlet-name>
        <servlet-class>vista.Invetario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>vista.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSession</servlet-name>
        <servlet-class>vista.ServletSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSat</servlet-name>
        <servlet-class>vista.ServletSat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPass</servlet-name>
        <servlet-class>vista.ServletPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletWS</servlet-name>
        <servlet-class>vista.ServletWS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletManifiestos</servlet-name>
        <servlet-class>vista.ServletManifiestos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Invetario</servlet-name>
        <url-pattern>/Invetario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSession</servlet-name>
        <url-pattern>/ServletSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSat</servlet-name>
        <url-pattern>/ServletSat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPass</servlet-name>
        <url-pattern>/ServletPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletWS</servlet-name>
        <url-pattern>/ServletWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletManifiestos</servlet-name>
        <url-pattern>/ServletManifiestos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
           60
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
    <!--    <security-constraint>
    <web-resource-collection>
        <web-resource-name>apps</web-resource-name>
        <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
</security-constraint>-->
</web-app>
